@page
@model IndexModel


<div class="text-center">
    @if (Model.Superhero.Name == null)
    {
        <h1 class="display-4">Welcome unnamed hero!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome @Model.Superhero.Name!</h1>
    }

</div>

<a class="nav-link text-black-50" asp-area="" asp-page="/Superhero/AddSuperhero">Add Superhero here</a>